@using DataAccesLib.Models
@using DataAccesLib
@using BlazorDateRangePicker;
@using System.Diagnostics

@inject IRecipeData _db


@if (recipes is null)

{
    <p><em>Loading....</em></p>
}
else
{

  <div>
      <table class="table table-striped">
        <thead>
            <tr>
    
                @foreach(var Var in filter)
                    {
                       @if(!Var.sort)
                       {<th>@Var.variable</th>}
                        
                    }
                

            </tr>
        </thead>
        <tbody>
                

                @foreach (var recipe in RecipeRead.TableList)
            {
                    
                    @if(recipe[31] == "False")
                    {
                        <tr @key="recipe">
                            @for(int n = 0; n < 30; n++)
                            {
                                @if(!filter[n].sort)
                                {
                                    {<td>@recipe[n]</td>}
                                }
                            }
                            
                       
                   

                    <th>
                        <button type="button" class="btn btn-link">
                        <span class="oi oi-pencil" aria-hidden="true" @onclick="() => EnableEditing(true, recipe)"></span>
                        </button>
                    </th>

                        </tr>

                    }
                    else
                    {
                        @foreach(var Variable in TableEdit.Edits)
                        {

                            @if(!Variable.filter)
                            {

                                <td>
                                <input type="text" class="form-control" @bind-value="@Variable.Name"/>
                             
                                </td>
                                
                                
                            }
                      
                            }

                        
                        


                            
                            <td>
                    <button type="button" class="btn btn-link" @onclick="() => EnableEditing(false, recipe)">
                        <i class="oi oi-trash" />
                    </button>
                    <button type="button" class="btn btn-link" @onclick="() => {BatchEdit(); EnableEditing(false, recipe);}">
                        <i class="oi oi-check" />
                    </button>
                </td>
                    }
            }
        </tbody>
    </table>
  </div>

}

@code {
    public List<string> RecipeEdit;
    private List<RecipeModels> recipes;
    Queries query = new Queries();
    private int TableLen = 30;
    public DataFormatter format = new DataFormatter();
    public List<List<string>> TableList = new List<List<string>>();

    //public List<string> List = new List<string>();
    //public string Edit { get; set; }
    private int N = 0;

    EditRow TableEdit = new EditRow { Edits = new List<EditInstance>() };







    [Parameter]
    public filtering[] filter {get;set;}


    protected override async Task OnInitializedAsync()
    {

        TableUpdate();

    }

    private void EnableEditing(bool flag, List<string> batch)
    {
        if(flag)
        {
            batch[31] = "True";
            RecipeEdit = batch;
            flag = !flag;

            List<EditInstance> _EditInstance = new List<EditInstance>();

            for(int n = 0; n < 30; n++)
            {
                EditInstance _Entry = new EditInstance(){Name = batch[n], filter = filter[n].sort};

                TableEdit.Edits.Add(_Entry);
            }




        }

    StateHasChanged();
}

        

    



    private async void BatchEdit()
    {
        

      

        RecipeRead.Table = recipes;
        TableUpdate();

        List<string> batch = new List<string>();

        foreach(var variable in TableEdit.Edits)
        {
            batch.Add(variable.Name);
        }


        string sql = query.RecipeUpdate(batch);
        Debug.WriteLine(sql);
        await _db.EditRecipe(sql);

        sql = query.pix318();
        TableUpdate();

        batch.Clear();
        TableEdit.Edits.Clear();
    }

    public async void TableUpdate()
    {


        recipes = await _db.GetRecipes(Queries.sql);
        RecipeRead.Table = recipes;

        TableList = format.Pix318Model(recipes);
        RecipeRead.TableList = TableList;




        try
        {
            StateHasChanged();
        }
        catch
        {
            
        }StateHasChanged();
    }



    public void FilterUpdate()
    {
        for(int n = 0; n < TableLen-1; n++)
        {
            FilterModel.filter[n] = filter[n].sort;
        }
    }

    public void EditUpdate(List<string> batch)
    {

    }

    //private void CheckInput(KeyboardEventArgs keyEvent)
    //{
    //    if(keyEvent.Key == "Enter")
    //    {
    //        Debug.WriteLine(N);
    //        RecipeEdit.Insert(N, Edit);
    //    }

    //}

   
}

