@using DataAccesLib.Models
@using DataAccesLib
@using BlazorDateRangePicker;
@using System.Diagnostics

@inject IRecipeData _db

@if (recipes is null)
{
    <p><em>Loading....</em></p>
}
else
{

  <div>
      <table class="table table-striped">
        <thead>
            <tr>
    
                @foreach(var Var in filter)
                    {
                       @if(!Var.sort)
                       {<th>@Var.variable</th>}
                        
                    }
                

            </tr>
        </thead>
        <tbody>
                

                @foreach (var recipe in RecipeRead.TableList)
            {
                    
                    @if(recipe[31] == "False")
                    {
                        <tr @key="recipe">
                            @for(int n = 0; n < 30; n++)
                            {
                                @if(!filter[n].sort)
                                {
                                    {<td>@recipe[n]</td>}
                                }
                            }
                            
                        </tr>
                    }
                    
                   
           

                   

                 @*   <th>
                        <button type="button" class="btn btn-link">
                        <span class="oi oi-pencil" aria-hidden="true" @onclick="() => EnableEditing(true, recipe)"></span>
                        </button>
                    </th>
*@
                    
                     
                    }
                    else
                    {
@*
                             @if (!filter[0].sort)
                            {
                                <td>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.BatchNr" @bind-value:event="oninput" />
</td>
                            }
                            @if (!filter[1].sort)
                            {
                                <td>
                                <input type="text" class="form-control" @bind-value="RecipeEdit.Dato" @bind-value:event="oninput" />
</td>
                            }
                            @if (!filter[2].sort)
                            {
                                <td>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.SAP" @bind-value:event="oninput" />
                                </td>
                            }

                            @if (!filter[3].sort)
                            {
                                <td>
                                <input type="text" class="form-control" @bind-value="RecipeEdit.ID" @bind-value:event="oninput" />
                                 </td>
                            }

                            @if (!filter[4].sort)
                            {
                                <td>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.Reaktor" @bind-value:event="oninput" />
</td>
                            }
                             @if (!filter[5].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.SatsVolum" @bind-value:event="oninput" />
</th>
                            }

                            @if (!filter[6].sort)
                            {
                                <td>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.ForvFe" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[7].sort)
                            {
                                <td>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.OnsketFe" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[8].sort)
                            {
                                <td>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.OnsketSyre" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[9].sort)
                            {
                                <td>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.OnsketFe2" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[10].sort)
                            {
                                <td>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.HCLType" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[11].sort)
                            {
                                <td>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.ForvDamp" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[12].sort)
                            {
                                <td>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.VannOverordnet" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[13].sort)
                            {
                                <td>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.VarmtVann" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[14].sort)
                            {
                                <td>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.SpillVann" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[15].sort)
                            {
                                <td>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.ScrubberVaeske" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[16].sort)
                            {
                                <td>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.HCL" @bind-value:event="oninput" />
</td>
                            }

                            @if (!filter[17].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.Jernsulfat" @bind-value:event="oninput" />
</th>
                            }

                            @if (!filter[18].sort)
                            {
                                <th>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.Temp" @bind-value:event="oninput" />
</th>
                            }
                             @if (!filter[19].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.Modningstid" @bind-value:event="oninput" />
</th>
                            }
                             @if (!filter[20].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.DampVentil" @bind-value:event="oninput" />
</th>
                            }
                             @if (!filter[21].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.Etterspyling" @bind-value:event="oninput" />
</th>
                            }
                             @if (!filter[22].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.O2Trykk" @bind-value:event="oninput" />
</th>
                            }

                            @if (!filter[23].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.O2Reaksjonstid" @bind-value:event="oninput" />
</th>
                            }
                             @if (!filter[24].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.DeltaTemp" @bind-value:event="oninput" />
</th>
                            }

                            @if (!filter[25].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.AnalysertFe3" @bind-value:event="oninput" />
</th>
                            }

                            @if (!filter[26].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.AnalysertFeTot" @bind-value:event="oninput" />
</th>
                            }

                            @if (!filter[26].sort)
                            {
                                <th>

                                <input type="number" class="form-control" @bind-value="RecipeEdit.VannSluttJustering" @bind-value:event="oninput" />
</th>
                            }

                            @if (!filter[28].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.VirkeligMVann" @bind-value:event="oninput"/>
</th>
                            }

                            @if (!filter[29].sort)
                            {
                                <th>
                                <input type="number" class="form-control" @bind-value="RecipeEdit.TotTilLager" @bind-value:event="oninput" />
</th>
                            }

                            
                            <td>
                    <button type="button" class="btn btn-link" @onclick="() => EnableEditing(false, recipe)">
                        <i class="oi oi-trash" />
                    </button>
                    <button type="button" class="btn btn-link" @onclick="() => {BatchEdit(recipe); EnableEditing(false, recipe);}">
                        <i class="oi oi-check" />
                    </button>
                </td>*@
                    }
            }
        </tbody>
    </table>
  </div>

}

@code {

    private List<string> RecipeEdit = new List<string>();
    private List<RecipeModels> recipes;
    Queries query = new Queries();
    private int TableLen = 30;
    public DataFormatter format = new DataFormatter();
    public List<List<string>> TableList = new List<List<string>>();

    [Parameter]
    public filtering[] filter {get;set;}


    protected override async Task OnInitializedAsync()
    {

        TableUpdate();

    }

    private void EnableEditing(bool flag, List<string> batch)
    {
        if(flag)
        {
            batch[31] = "True";
        }
        else
        {
            batch[31] = "False";
        }

        if (flag)
        {
            RecipeEdit = batch;
        }

        StateHasChanged();

    }


    private async void BatchEdit(RecipeModels batch)
    {
        string sql = query.RecipeUpdate(batch);
        await _db.EditRecipe(sql);

        sql = query.pix318();
        TableUpdate();
    }

    public async void TableUpdate()
    {

        recipes = await _db.GetRecipes(Queries.sql);
        RecipeRead.Table = recipes;

        TableList = format.Pix318Model(recipes);
        RecipeRead.TableList = TableList;
        Debug.WriteLine(RecipeRead.TableList[0][31]);

       

        StateHasChanged();
    }

 

    public void FilterUpdate()
    {
        for(int n = 0; n < TableLen-1; n++)
        {
            FilterModel.filter[n] = filter[n].sort;
        }
    }



}
