@page "/TaskList"

<EditForm Model ="@newTask" OnValidSubmit="AddTask" >
<InputText @bind-Value="newTask.Task" /> 
<button type="submit">Add Task</button>
</EditForm>


@code {
    public List<TaskModel> taskList = new List<TaskModel>();
    private TaskModel newTask = new TaskModel();

    private void AddTask()
    {
        taskList.Add(newTask);
        newTask = new TaskModel();
    }
}
